doctype html
html
    head
        title Home
        link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        header
            h1 
                a.home(href="mainhome") LIVRARIA
            a.header-login(href="/admin/login") Login 

        div.loginput
            h2 PRODUTOS:
          
            div.books
                each product, i in products
                    
                    a(href=`/product/${product.id}`).bookbox
                        p= product.picturePath
                        p= product.name
                        p= product.price
                        p= product.author